{% extends 'admin/base.html.twig' %}

{% block title %}Add Category{% endblock %}

{% block body %}
    <h1>Создание категории</h1>
<div class="block-clear">
    {{ form(addCategoryForm) }}
</div>

{% endblock %}
